$vdblue:hsl(222, 40%, 13%);
$dblue:hsl(224, 40%, 20%);
$lblue:hsl(212, 100%, 50%);
$blue:hsl(214, 67%, 40%);
$grey:hsl(0, 0%, 85%);
$light: #f1f1f177;
$sscreen:575px;
$mscreen:768px;
$lscreen:1078px;
$xlscreen:1400px;
* {
    color: $grey;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}